/* colors */

:root{
    --white: #E8E9EB;
    --primary: #40798C;
    --primaryGray: #346372;
    --secondary: #DA2C38;
    --background: #E0DFD5;
    --dark: #43291F;

    --primary_font: Arial;
    --secondary_font: sans-serif;
};

/* all the lines */
hr {
    color: var(--primary);

}

.line {
    color: var(--white);
    padding: 0px;
    margin: 0px;
}

/* ---------------- BASE for all sites ---------------------------- */
/* ---------------- HEADER ---------------- */
/* nav */
.breadcrumb {
    margin: 1%;
}
.second_color li a{
    color: var(--primary);
}
.second_color li a:hover{
    color: var(--primaryGray);
}


/* ---------------- MAIN  ---------------- */
/* formatting */
.white{
    color: var(--white);
}

.box{
    width:98%;
    height: 100%;
    background: var(--primary);
    margin: .5rem auto;
    padding: .5rem;
}

/* buttons */
.bu{
    margin-top: 8px;
    margin-bottom: 8px;
    padding: .75rem;
    outline-color: var(--background);
    background-color: var(--background);
    border-radius: 5px;
    border: none;
    border-width: 2px;
    border-style: solid;
    border-color: var(--white);

}
.view_button{
    margin-top: 8px;
    margin-bottom: 8px;
    background-color: var(--background);
    padding: .75rem;
    border-radius: 5px;
    border: none;
    border-width: 2px;
    border-style: solid;
    color: black;
    border-color: var(--primary);
}
.view_button:hover{
    background-color: var(--primaryGray);
    color: white;
}

.bu:hover{
    color: var(--white);
    background-color: var(--secondary);
}

.button{
    margin-left: 1rem;
    background-color: var(--primary);
    color: var(--white);
}

.padding{
    padding: .5rem;
}

.card-body {
    width: 100%;
    border-radius: 8px;
}


/* ---------------- FOOTER ---------------- */
footer{
    margin: 1%;
    background-color: var(--primary);
    color: white;
}

#copyright{
    padding: .4rem;

}


/* ---------------- INDEX ---------------- */
.search_button{
    width: 9rem;
    height: 3.9rem;
    margin-left: 8px;
}

.searchlabel{
    color:var(--white);
    margin-top: 1rem;
    margin-left: 1rem;
    font-size: 2rem;
}

.search_bar label.searchlabel input, .search_bar label.searchlabel select{
    -webkit-appearance: none;
    display: block;
    font-size: 1.5rem;
    border: solid 1px var(--primary);
    border-radius: 4px;
    padding: 1rem;
    color: black;
    width: 100%;
    max-width: 20rem;
    background-color: white;
}
.recipe_search {
    right: 0;
}
.explore{
    color: var(--white);
    padding: 1rem;
    text-align: center;
}

#view_recipe {
    text-decoration: none;
    color: black;
}
#view_recipe:hover {
    color: var(--white);
}

#quote{
    color: var(--white);
    text-align: center;
}


/* ---------------- ENTRY ---------------- */
.required{
    color: var(--secondary);
}

.entrylabel {
    color: var(--white);
}

.star-rating {
    display: inline-block;
}

.star {
    font-size: 24px;
    cursor: pointer;
    color: var(--white);
}
.stars {
    font-size: 24px;
    cursor: pointer;
}

input[type="radio"] {
    display: none;
}

input[type="radio"]:checked + label {
    color: gold;
}

#dropbox {
    border: 2px dashed var(--white);
    padding: 20px;
    text-align: center;
    cursor: pointer;
    color: var(--white);
}

#dropbox:hover {
    background-color: var(--primaryGray);
}

#recipe_save{
    width: 110px;
}

#upload-btn {
    display: none;
}

#rmeal{
    width: 100%;
    height: auto;
    padding: 9px;
    border-radius: 7px;
}

#confirm_save, #confirm_message{
    display: none;
}


/* ---------------- VIEW ---------------- */
#title {
    padding: 10px;
}

.view_page{
    margin: 10px;
    background-color: var(--background);
}

#recipe_img{
    margin-bottom: 1rem;
}

#share-area{
    margin-left: 2rem;
}

#QRcode{
    padding: 1.25rem;
}

/* QR page */

#qr-code {
    display: block;
    margin: 20px auto;
}