/* colors */

:root{
    --white: #E8E9EB;
    --primary: #40798C;
    --primaryGray: #346372;
    --secondary: #DA2C38;
    --background: #E0DFD5;
    --dark: #43291F;

    --primary_font: Arial;
    --secondary_font: sans-serif;
};

/* all the lines */
hr {
    color: var(--primary);

}

.line {
    color: var(--white);
    padding: 0px;
    margin: 0px;
}

footer{
    margin: 1%;
    background-color: var(--primary);
    color: white;

}

.required{
    color: var(--secondary);
}

.entrylabel {
    color: var(--white);
}

.breadcrumb {
    margin: 1%;
}


.box{
    width:98%;
    height: 100%;
    background: var(--primary);
    margin: .5rem auto;
    padding: .5rem;
}

.padding{
    padding: .5rem;
}

.turn_red {
    color: var(--dark);
    background-color: var(--background);
    outline-color: var(--background);
    margin-top: 8px;
    margin-bottom: 8px;
}

.turn_red:hover{
    background-color: var(--secondary);
    color: var(--white);
}

.search_bar{
    margin-left: 2rem;
    margin-top: 1rem;
}

#search_button, #recipe_search{
    padding: 1rem;
}

#title {
    padding: 10px;
}

/* data tables */
.hometable {
    background-color: white;
    margin-top: 10px;
}

#data-table tbody tr:hover {
    cursor: pointer;
    background-color: var(--background);
}

.card-body {
    width: 100%;
    border-radius: 8px;
}

.explore{
    color: var(--white);
    padding: 1rem;
    text-align: center;
}

.white{
    color: var(--white);
}

/* view page */
.view_page{
    margin: 10px;
    background-color: var(--background);
}


#dropbox {
    border: 2px dashed var(--white);
    padding: 20px;
    text-align: center;
    cursor: pointer;
    color: var(--white);
}

#dropbox:hover {
    background-color: var(--primaryGray);
}

/* Style for the upload button */
#upload-btn {
    display: none;
}

#recipe_img{
    margin-bottom: 1rem;
}

#quote{
    color: var(--white);
    text-align: center;
}

