<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="\static\images\RB.png">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Anna Taylor" />
    <meta name="type" content="website" />
    <!-- change this stuff -->
    <meta name="title" content="Recipe Box" />
    <meta name="url" content="http://127.0.0.1:5500/index.html" />
    <meta
        name="description"
        content="A place where people can share, upload and view each others recipes. A place to find the best family
        recipes with ease." />
    <meta
        name="image"
        content="\static\images\Recipe_box_logo.png" />

    <!-- header with logo -->
    <div id="logo_box">
        <img src="\static\images\Recipe_box_logo.png" alt="Recipe Box" width="202px" height="81.9px">
    </div>

    <!-- style sheets -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/larger.css') }}">

    <!-- js -->

    {% block head %} {% endblock %}
</head>
<body>
    <header>

    </header>

    <!-- Content here -->
    {% block body %}
    {% endblock %}

    <footer>
        <p>&#169 2023 Anna Taylor</p>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</body>
</html>