{% extends 'base.html'%}

{% block head %}

{% endblock %}

{% block body %}

<nav aria-label="breadcrumb">
    <ul class="nav nav-tabs second_color">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/entry">Add Recipe</a>
        </li>

    </ul>

</nav>

<main>
    <section class="box">
        <section class="padding">
            <form action="{{url_for('entry')}}"  method="post" enctype="multipart/form-data">
                <h4 id="confirm_message" class="white">** Please confirm that these entries are all right. Then Click Confirm at the bottom of the page! **</h4>

                <!-- title -->
                <!-- make required -->
                <label for="rtitle" class="entrylabel"><span class="required">*</span> Title:</label>
                <input class="form-control" type="text" name="title" id="rtitle" required>

                <!-- drop box -->
                <div>
                    <label  for="upload-btn" class="entrylabel"><span class="required">*</span> Upload Recipe or Enter recipe below: </label>
                    <div>
                        <!-- Dropbox Area -->
                        <div id="dropbox" onclick="chooseFile()">
                            <p>Click or drag and drop files here</p>
                            <p>*The first image you add will be the one that is displayed*</p>
                        </div>

                        <!-- Upload Button -->
                        <input type="file" name="recipe_img" id="upload-btn" onchange="handleFile(this.files)" value=this.files multiple>

                        <!-- Display Uploaded Files -->
                        <div id="file-list"></div>

                        <!-- adding recipe manually -->
                        <button type="button" id="recipe-button-add" onclick="add_recipe_card()" class="bu turn_red">Add Recipe manually</button>
                        <div id="recipe-card" style="display: none;">
                            <div class="card-body">
                                <!-- ingredients -->
                                <label for="ringredients" class="entrylabel"><span class="required">*</span>Ingredients: </label>
                                <textarea class="form-control" type="text" name="ingredients" id="ringredients" value="" placeholder="ig 1 cup sugar, 1 cup flour..."></textarea>
                                <!-- instructions -->
                                <label for="rinstructions" class="entrylabel"><span class="required">*</span>Instructions: </label>
                                <textarea class="form-control" type="text" name="instructions" id="rinstructions" value="" placeholder="ig first cream sugars and butter..."></textarea>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- meal -->
                <!-- make required -->
                <label for="rmeal" class="entrylabel">Meal Type: </label>
                <br>
                <select id="rmeal" name="meal">
                    <option value="NULL">Please choose one</option>
                    <option value="Main Course">Main Course</option>
                    <option value="Lunch">Lunch</option>
                    <option value="Breakfast">Breakfast</option>
                    <option value="Dinner">Dinner</option>
                    <option value="Snacks">Snacks</option>
                    <option value="Dessert">Dessert</option>
                    <option value="Appetizer">Appetizer</option>
                    <option value="Side Dish">Side Dish</option>
                    <option value="Beverages">Beverages</option>
                </select required>
                <br>

                <!-- owner -->
                <!-- make required -->
                <label for="rOwner" class="entrylabel">Recipe By:</label>
                <input class="form-control" type="text" name="owner" id="rOwner" >

                <!-- notes -->
                <label for="rNotes" class="entrylabel">Notes: </label>
                <textarea class="form-control" type="text" name="notes" id="rNotes" value="" placeholder="helpful notes about the recipe"></textarea>

                <!-- Serving yield -->
                <label for="servingYield" class="entrylabel">Serving yield: </label>
                <input class="form-control" type="text" name="serving_yield" id="servingYield" value="">

                <!-- Link to original Recipe -->
                <label for="rlink" class="entrylabel">Link to Original Recipe: </label>
                <input class="form-control" type="text" name="link" id="rlink" value="">

                <!-- rating -->
                <label for="rrating" class="entrylabel">Starts: (1-5)</label>
                <!-- input class="form-control" type="text" name="rating" id="rrating" value="">< -->
                <br>
                <div class="star-rating">
                    <input type="radio" id="star1" name="rating" value="1">
                    <label for="star1" class="star">&#9733;</label>
                    <input type="radio" id="star2" name="rating" value="2">
                    <label for="star2" class="star">&#9733;</label>
                    <input type="radio" id="star3" name="rating" value="3">
                    <label for="star3" class="star">&#9733;</label>
                    <input type="radio" id="star4" name="rating" value="4">
                    <label for="star4" class="star">&#9733;</label>
                    <input type="radio" id="star5" name="rating" value="5">
                    <label for="star5" class="star">&#9733;</label>
                </div>
                <br>
                <!-- submit the form -->
                <p class="bu turn_red" id="recipe_save" onclick="recipe_alert()">Save Recipe</p>
                <button class="bu turn_red" id="confirm_save" type="submit" >Confirm Save</button>


            </form>
        </section>
    </section>
</main>


<script src="\static\js\dropbox.js"></script>
<script src="\static\js\data.js"></script>
{% endblock %}