{% extends 'base.html'%}

{% block head %}

{% endblock %}

{% block body %}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Add Recipe</li>
    </ol>
</nav>

<main>
    <section class="box">
        <section class="padding">
            <form action="{{url_for('entry')}}"  method="post" enctype="multipart/form-data">

                <!-- title -->
                <!-- make required -->
                <label for="rtitle" class="entrylabel"><span class="required">*</span> Title:</label>
                <input class="form-control" type="text" name="title" id="rtitle" required>

                <!-- meal -->
                <!-- make required -->
                <label for="rmeal" class="entrylabel"><span class="required">*</span> Meal Type: </label>
                <input class="form-control" type="text" name="meal" id="rmeal" required>

                <!-- owner -->
                <!-- make required -->
                <label for="rOwner" class="entrylabel"><span class="required">*</span> Owner: </label>
                <input class="form-control" type="text" name="owner" id="rOwner" required>

                <!-- drop box -->
                <div>
                    <label  for="upload-btn" class="entrylabel"><span class="required">*</span> Upload Recipe or Enter recipe below: </label>
                    <div>
                        <!-- Dropbox Area -->
                        <div id="dropbox" onclick="chooseFile()">
                            <p>Click or drag and drop files here</p>
                            <p>*The first image you add will be the one that is displayed*</p>
                        </div>

                        <!-- Upload Button -->
                        <input type="file" name="recipe_img" id="upload-btn" onchange="handleFile(this.files)" value=this.files multiple>

                        <!-- Display Uploaded Files -->
                        <div id="file-list"></div>

                        <!-- adding recipe manually -->
                        <button type="button" id="recipe-button-add" onclick="add_recipe_card()" class="btn turn_red">Add Recipe manually</button>
                        <div id="recipe-card" style="display: none;">
                            <div class="card-body">
                              <!-- ingredients -->
                            <label for="ringredients" class="entrylabel">Ingredients: </label>
                            <textarea class="form-control" type="text" name="ingredients" id="ringredients" value="" placeholder="ig 1 cup sugar, 1 cup flour..."></textarea>
                            <!-- instructions -->
                            <label for="rinstructions" class="entrylabel">Instructions: </label>
                            <textarea class="form-control" type="text" name="instructions" id="rinstructions" value="" placeholder="ig first cream sugars and butter..."></textarea>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- notes -->
                <label for="rNotes" class="entrylabel">Notes: </label>
                <textarea class="form-control" type="text" name="notes" id="rNotes" value="" placeholder="helpful notes about the recipe"></textarea>

                <!-- Serving yield -->
                <label for="servingYield" class="entrylabel">Serving yield: </label>
                <input class="form-control" type="text" name="serving_yield" id="servingYield" value="">

                <!-- rating -->
                <label for="rrating" class="entrylabel">Rating (1-5): </label>
                <input class="form-control" type="text" name="rating" id="rrating" value="">

                <!-- submit the form -->
                <button class="btn turn_red" type="submit">Save Recipe</button>
            </form>
        </section>
    </section>
</main>


<script src="\static\js\dropbox.js"></script>
<script src="\static\js\data.js"></script>
{% endblock %}