{% extends 'base.html'%}

{% block head %}
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
    <link href='https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css' rel='stylesheet' type='text/css'>
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>


{% endblock %}
{% block body %}


<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">Home</li>
    </ol>
</nav>

<main>
    <section class="box">
      <form method="POST">
        <!-- add recipe button -->
        <button type="button" class="turn_red btn" id="add_recipe">
          Add Recipe
        </button>

        <!-- search bar -->
        <div class="search_bar">
          <input type="text" id="recipe_search" name="search_value" placeholder="Recipes Name/Title" >
          <button type="submit" class="turn_red btn" id="search_button">Search <i class="fa fa-search"></i></button>
        </div>

        <!-- card section -->
        <section class="padding">
          <div class="cards-container" style="display: flex; flex-wrap: wrap;">
            {% if length != 0 %}
              {% for recipe in recipes %}
                <div class="card" style="width: 18rem; margin: 10px;">
                  <img src="{{recipe[2]}}" class="card-img-top" alt="image of the food">
                  <div class="card-body">
                    <h4 class="card-title"><b>{{recipe[1]['title']}}</b></h4>
                    <p class="card-text">Owner: {{recipe[1]['owner']}}</p>
                    {% if recipe[1]['rating'] != '' %}
                      <p>Rating: {{recipe[1]['rating']}}</p>
                    {% endif %}
                    <a href="view/{{recipe[0]}}" class="btn turn_red">View recipe</a>
                  </div>
                </div>
              {% endfor %}
            {% elif sv == 'true' %}
                <h4 class="white">No recipes found with "{{search_value}}" in the Title</h4>
            {% else %}
                <h4 class="white">Please Search for a recipe by the Title or partial Title</h4>
            {% endif %}
          </div>
        </section>
        <hr class="line">
        <!-- explore section -->
        <section class="explore">
          <!-- put a breakfast, main meal and snack/dessert options. -->
          <h3>Recipes of the week:</h3>
          <div class="cards-container" style="display: flex; flex-wrap: wrap;">
              <!-- {% for recipe in recipes %}
                <div class="card" style="width: 18rem; margin: 10px;">
                  <img src="{{recipe[2]}}" class="card-img-top" alt="image of the food">
                  <div class="card-body">
                    <h4 class="card-title"><b>{{recipe[1]['title']}}</b></h4>
                    <p class="card-text">Owner: {{recipe[1]['owner']}}</p>
                    {% if recipe[1]['rating'] != '' %}
                      <p>Rating: {{recipe[1]['rating']}}</p>
                    {% endif %}
                    <a href="view/{{recipe[0]}}" class="btn turn_red">View recipe</a>
                  </div>
                </div>
              {% endfor %} -->
            </div>
            <h5>"One cannot think well, love well, sleep well, if one has not dined well."<br>- Virginia Woolf</h5>
        </section>
      </form>
    </section>

</main>

<script src="/static/js/home_page.js"></script>
{% endblock %}