{% extends 'base.html'%}

{% block head %}
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
    <link href='https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css' rel='stylesheet' type='text/css'>
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>


{% endblock %}
{% block body %}


<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">Home</li>
    </ol>
</nav>

<main>
    <section class="box">
        <section class="padding">
            <form method="POST">
                <button type="submit" class="btn turn_red">
                    Add Recipe
                </button>
                <section class="hometable">
                  <table id="data-table" class="display datatable" style="width:100%">
                      <thead>
                        <tr>
                          <!-- <th scope="col">ID</th> -->
                          <th scope="col">Title</th>
                          <th scope="col">Meal</th>
                          <th scope="col">Owner</th>
                          <th scope="col">Rating</th>
                        </tr>
                      </thead>
                      <tbody>
                      </tbody>
                    </table>
                </section>
            </form>
        </section>
    </section>
</main>

<script src="/static/js/ajax.js"></script>
{% endblock %}