{% extends 'base.html'%}

{% block head %}
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
    <link href='https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css' rel='stylesheet' type='text/css'>
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>


{% endblock %}
{% block header %}
  <!-- Top Navigation Bar -->
  <div class="topnav">
    <a class="nav-link active" aria-current="page" href="/">Home</a>
    <a class="nav-link" href="/entry">Add Recipe</a>
  </div>
{% endblock %}
{% block body %}




  <main>
    <section class="box">
      <form method="POST">

        <!-- search bar -->
        <section>
            <div class="search_bar">
              <fieldset>
                <label class="searchlabel">Recipes Name/Title:
                  <input type="text" id="recipe_search"  name="search_value" ></label>
                <label class="searchlabel">Recipe By:
                  <input type="text" id="owner_search" name="search_owner" ></label>
                  <label class="searchlabel">Meal Type:
                    <select name="meal_type">
                      <option value="NULL">Please select one</option>
                      <option value="Appetizer">Appetizer</option>
                      <option value="Beverages">Beverages</option>
                      <option value="Breakfast">Breakfast</option>
                      <option value="Dessert">Dessert</option>
                      <option value="Lunch">Lunch</option>
                      <option value="Main Course">Main Course</option>
                      <option value="Side Dish">Side Dish</option>
                      <option value="Snacks">Snacks</option>
                  </select></label>
                  <button type="submit" class=" bu search_button" id="search_button">Search <i class="fa fa-search"></i></button>
                </fieldset>
            </div>
            <h5 class="white">* No need to use all search catagories</h5>
          </section>

        <!-- card section -->
        <section class="padding">
          <div class="cards-container" style="display: flex; flex-wrap: wrap;">
            {% if length != 0 %}
              {% for recipe in recipes %}
              <div class="card" style="width: 18rem; margin: 10px;">
                  <h4 class="card-title"><b>{{recipe[1]['title']}}</b></h4>
                  <!-- display image or display recipe -->
                  {% if recipe[2] != '' %}
                    <img src="{{recipe[2]}}" class="card-img-top" alt="image of the food" loading="lazy">
                  {% elif recipe[1]['ingredients'] != '' %}
                    <p class="card-text">Recipe: {{recipe[1]['ingredients']}}</p>
                  {% endif %}

                  <div class="card-body">
                    <p class="card-text">Recipe Submitted By: {{recipe[1]['owner']}}</p>
                    {% if recipe[3] != '' %}
                      <p>Rating: {{recipe[3]}}</p>
                    {% endif %}
                    <a id="view_recipe" href="view/{{recipe[0]}}" class="bu">View recipe</a>
                  </div>
                </div>
              {% endfor %}
            {% elif sv == 'true' %}
                <h4 class="white">No recipes found with that search</h4>
            {% else %}
                <h4 class="white">Search for Recipes</h4>
            {% endif %}
          </div>
        </section>
        <hr class="line">
        <!-- explore section -->
        <section class="explore">
          <!-- put a breakfast, main meal and snack/dessert options. -->
          <h3>Recipes of the week:</h3>
          <!-- <h1>{{recipe_of_week}}</h1> -->
          <div class="cards-container">
              {% for rw in recipes_of_week %}
                <div class="card">
                  <img src="{{rw[1]}}" class="card-img-top" alt="Image of the {{rw[0]['title']}}" loading="lazy">
                  <div class="card-body">
                    <h4 class="card-title"><b>{{rw[0]['title']}}</b></h4>
                    <p class="card-text">Recipe Submitted By: {{rw[0]['owner']}}</p>
                    {% if rw[2] != '' %}
                      <p>Rating: {{rw[2]}}</p>
                    {% endif %}
                    <a href="view/{{rw[3]}}" class="view_button">View recipe</a>
                  </div>
                </div>
              {% endfor %}
            </div>
            <h4>"One cannot think well, love well, sleep well, if one has not dined well."<br>- Virginia Woolf</h4>
        </section>
      </form>
    </section>

  </main>

<script src="/static/js/home_page.js"></script>
{% endblock %}