{% extends 'base.html'%}

{% block head %}

{% endblock %}
{% block header %}
  <!-- Top Navigation Bar -->
  <div class="topnav">
      <a class="nav-link" aria-current="page" href="/">Home</a>
      <a class="nav-link" href="/entry">Add Recipe</a>
      <a class="nav-link" href="/view/{{recipe_id}}">View Recipe</a>
  </div>
{% endblock %}
{% block body %}

<main>
    <section class="box">
        <section class="padding">
            <h1 class="white">{{title}}</h1>
            <div id="qr-code"></div>

            <button class="bu" onclick="printPage('view/{{recipe_id}}')">Print QR code</button>
        </section>
    </section>
</main>

<script src="https://cdn.rawgit.com/davidshimjs/qrcodejs/gh-pages/qrcode.min.js"></script>
<script src="/static/js/qr.js"></script>
<script src="\static\js\dropbox.js"></script>
<script src="\static\js\data.js"></script>

{% endblock %}