{% extends 'base.html'%}

{% block head %}
    <meta property="og:title" content="{{data_dic['title']}}">
    <meta property="og:description" content="Recipe from Recipe Box">
    <meta property="og:image" content="{{img_src}}">
    <meta property="og:url" content="http://127.0.0.1:5500/{{recipe_id}}">
    <meta property="og:type" content="website">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
{% endblock %}
{% block header %}
  <!-- Top Navigation Bar -->
  <div class="topnav">
      <a class="nav-link" aria-current="page" href="/">Home</a>
      <a class="nav-link" href="/entry">Add Recipe</a>
      <a class="nav-link active" href="/view/{{recipe_id}}">View Recipe</a>
  </div>
{% endblock %}
{% block body %}

    <main>
        <section class="box">

            <!-- title and display image-->
            <div id="title_view_area">
                <div id="title_image_container" >
                    <h1 type="text" name="title" id="title" style="color: #E8E9EB;">{{title}}</h1>
                    <div id="share_area">
                        <button class="bu share_buttons" id="print_page" onclick="printPage()">Print page</button>
                        <button id="QRcode" onclick="go_qr('/qr/{{recipe_id}}/{{title}}')" class=" bu share_buttons">QR code</button>
                        <button id='shareButton' class=" bu share_buttons" onclick="share_link()">Copy Link</button>
                    </div>
                </div>
            </div>

            <section class="padding view_page">

                <!-- display recipe -->
                <div id="recipe_img">
                    <!-- magnifying glass for recipes -->
                    {% if imgs_src != []%}
                        <div>
                            <button id="big">➖</button>
                            <button id="small">➕</button>
                        </div>
                        <div>
                            {% for img_src in imgs_src%}
                                <img src="{{img_src}}" alt="recipe img" class="recipe_img" height="300px" loading="lazy">
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>

                <!-- ingredients -->
                {% if data_dic['ingredients'] != ''%}
                    <h5>Ingredients: </h5>
                    <h4 type="text" name="ingredients" id="ringredients">{{data_dic['ingredients']}}</h4>
                {% endif %}

                <!-- instructions -->
                {% if data_dic['instructions'] != ''%}
                    <h5>Instructions: </h5>
                    <h4 type="text" name="instructions" id="rinstructions">{{data_dic['instructions']}}</h4>
                {% endif %}


                <!-- notes -->
                {% if data_dic['notes'] != ''%}
                    <h5>Notes: </h5>
                    <h4 type="text" name="owner" id="owner">{{data_dic['notes']}}</h4>
                {% endif %}

                <!-- meal -->
                <h5>Meal Type: </h5>
                <h4 type="text" name="meal" id="meal">{{data_dic['meal']}}</h4>

                <!-- owner -->
                <h5>Owner: </h5>
                <h4 type="text" name="owner" id="owner">{{data_dic['owner']}}</h4>


                <!-- Serving yield -->
                {% if data_dic['serving_yield'] != ''%}
                    <h5>Serving yield: </h5>
                    <h4 type="text" name="serving_yield" id="serving_yield">{{data_dic['serving_yield']}}</h4>
                {% endif %}
                <!-- rating -->
                {% if rating != ''%}
                    <h5>Rating: </h5>
                    <h4 type="text" name="rating" id="rating">{{rating}}</h4>
                {% endif %}
                {% if data_dic['link'] != ''%}
                    <h5>Link to Original Recipe: </h5>
                    <h4 type="text" name="link" id="link"><a href="{{data_dic['link']}}">Click here for Recipe</a></h4>
                {% endif %}

                <hr>
                <form method="POST">
                    <h5>Rate this recipe:</h5>
                    <div class="star-rating">
                        <input type="radio" id="star1" name="rating" value="1">
                        <label for="star1" class="stars">&#9733;</label>
                        <input type="radio" id="star2" name="rating" value="2">
                        <label for="star2" class="stars">&#9733;</label>
                        <input type="radio" id="star3" name="rating" value="3">
                        <label for="star3" class="stars">&#9733;</label>
                        <input type="radio" id="star4" name="rating" value="4">
                        <label for="star4" class="stars">&#9733;</label>
                        <input type="radio" id="star5" name="rating" value="5">
                        <label for="star5" class="stars">&#9733;</label>
                        <button type="submit" class=" button bu">Submit Rating</button>
                    </div>
                </form>
            </section>
        </section>
    </main>

    <script src="/static/js/view.js"></script>

{% endblock %}