{% extends 'base.html'%}

{% block head %}

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
{% endblock %}

{% block body %}


    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">View Recipe</li>
        </ol>
    </nav>

    <main>
        <section class="box">

            <!-- title and display image-->
            <div id="title_view_area">
                <div id="title_image_container" style="display: flex; align-items: center;">
                    <h1 type="text" name="title" id="title" style="color: #E8E9EB;">{{data_dic['title']}}</h1>
                    <!-- <img src="{{imgs_src[0]}}" alt="recipe img" width="200px" style="margin-left: 10px;"> -->
                </div>
            </div>

            <section class="padding view_page">

                <!-- display recipe -->
                <div id="recipe_img">
                    <h4>Recipe: </h4>
                    <!-- magnifying glass for recipes -->
                    <div>
                        <button id="big">➖</button>
                        <button id="small">➕</button>
                    </div>
                    <div>
                        {% for img_src in imgs_src%}
                            <img src="{{img_src}}" alt="recipe img" class="recipe_img" height="300px">
                        {% endfor %}
                    </div>
                </div>

                <!-- notes -->
                {% if data_dic['notes'] != ''%}
                    <h6>Notes: </h6>
                    <p type="text" name="owner" id="owner">{{data_dic['notes']}}</p>
                {% endif %}

                <!-- meal -->
                <h6>Meal Type: </h6>
                <p type="text" name="meal" id="meal">{{data_dic['meal']}}</p>

                <!-- owner -->
                <h6>Owner: </h6>
                <p type="text" name="owner" id="owner">{{data_dic['owner']}}</p>


                <!-- Serving yield -->
                {% if data_dic['serving_yield'] != ''%}
                    <h6>Serving yield: </h6>
                    <p type="text" name="serving_yield" id="serving_yield">{{data_dic['serving_yield']}}</p>
                {% endif %}
                <!-- rating -->
                {% if data_dic['rating'] != ''%}
                    <h6>Rating: </h6>
                    <p type="text" name="rating" id="rating">{{data_dic['rating']}}</p>
                {% endif %}
            </section>
        </section>
    </main>

    <script src="/static/js/view.js"></script>
{% endblock %}